{% extends "base.html" %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pdbe-molstar@3.3.0/build/pdbe-molstar-light.css" />
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Perturbations</h1>
    </div>

    <div class="row">

        <div class="col-lg-8">

            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#pertInfo" class="d-block card-header py-3" data-toggle="collapse"
                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Perturbations Information</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="pertInfo">
                    <div class="card-body">
                        <div class="table-responsive">
                            {{ pert_table | safe }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">

            <img src="" id="mappingPic" width="100%" />

        </div>

        <script>
            function displayPert(row) {
                var protein = row.querySelector('td[name="protein_name"]').textContent;
                var name = row.querySelector('td[name="pert_name"]').textContent;
                var picUrl = "{{ url_for('serve_perturbation_mapping_png', protein_name='__protein_name__', pert_name='__pert_name__') }}";
                picUrl = picUrl.replace('__protein_name__', protein).replace('__pert_name__', name);
                document.getElementById('mappingPic').src = picUrl;
                // var name = element.getElementsByName("name")[0].textContent;
                // var protein = element.getElementsByName("protein")[0].textContent;
                // console.log(name, protein);
            }
            // var counter = 0;
            // function updateLigandStatus() {
            //     counter ++;
            //     var elements = document.getElementsByClassName('ligandInfo');
            //     for (var i = 0; i < elements.length; i++ ) {
            //         elements[i].textContent = 'Counter:' + counter;
            //     }
            // }
            // setInterval(updateLigandStatus, 1000);

            // upload ligand
            // document.getElementById('uploadLigandForm').addEventListener('submit', function(event) {
            //     document.getElementById('uploadLigandResponseMessage').textContent = '';
            //     event.preventDefault(); // Prevent the default form submission behavior
                
            //     // Get the file input element
            //     var fileInput = document.getElementById('ligandFileUpload');
            //     var file = fileInput.files[0]; // Get the first file (if multiple files are allowed, handle them accordingly)
                
            //     if (!file) {
            //         document.getElementById('uploadLigandResponseMessage').textContent = 'No file selected';
            //         return; // Exit if no file was selected
            //     }

            //     var name = document.getElementById('ligandNameInput').value;
            //     if (!name) {
            //         document.getElementById('uploadLigandResponseMessage').textContent = 'Ligand name cannot be empty';
            //         return;
            //     }
                
            //     // Create a FormData object to hold the file
            //     var formData = new FormData();
            //     formData.append('file', file); // Append the file to the FormData object
            //     formData.append('name', name);
                
            //     // Send the FormData to the server using fetch
            //     fetch("{{ url_for('uploadLigand') }}", {
            //         method: 'POST',
            //         body: formData,
            //     })
            //     .then(response => response.json())
            //     .then(jdata => {
            //         console.log(jdata);
            //         if (jdata.status != 200) {
            //             alert(jdata.message);
            //             // document.getElementById('uploadLigandResponseMessage').textContent = jdata.message;
            //         }
            //         location.reload();
            //     })
            //     .catch(error => {
            //         console.error('Error:', error);
            //         document.getElementById('responseMessage').textContent = 'Error uploading file';
            //     });
            // });
        </script>

    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}

{% block extra_js %}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}